<footer class="footer">
    <div class="footer__text">
        <p class="footer__paragraph">Actividad realizada por Jesús Chica Martínez.</p>
        <p class="footer__paragraph">Todas las imágenes utilizadas en esta web son de dominio público y/o se encuentran
            bajo
            la licencia <a class="footer__link"
                href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">CC0</a>.
            Imágenes obtenidas de <a href="https://pxhere.com/" class="footer__link">pxhere</a>.</p>
        <p class="footer__paragraph">Logo: <a href="https://www.flaticon.com/free-icons/food-and-restaurant"
                title="food and restaurant icons">Food and restaurant icons created by Agung Rama - Flaticon</a></p>
        <p class="footer__paragraph">Los textos extraídos y modificados de la Wikipedia se encuentran bajo la licencia
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>.</p>
        <p class="footer__paragraph">Para cumplir con la cláusula <em lang="en">copyleft</em> de la Licencia <a
                href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>, el
            contenido de esta web se
            adhiere a la misma licencia.</p>
    </div>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/images/logo.png?width=50" alt="Logo" width="50" height="50"
                    class="d-inline-block align-middle">
                <span class="navbar__logo">Chefs de pueblo</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFooter"
                aria-controls="navbarFooter" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarFooter">
                <div class="navbar-nav justify-content-evenly flex-grow-1">
                    <a class="nav-link" id="nav-link-footer-1" href="index.html">Portada</a>
                    <a class="nav-link" id="nav-link-footer-2" href="chefs.html">Los chefs</a>
                    <a class="nav-link" id="nav-link-footer-3" href="pueblo.html">El pueblo</a>
                    <a class="nav-link" id="nav-link-footer-4" href="galeria.html">Galería</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>