<footer class="footer">
    <div class="footer__text">
        <p class="footer__paragraph"><a href="https://www.flaticon.com/free-icons/food-and-restaurant" title="food and restaurant icons">Food and restaurant icons created by Agung Rama - Flaticon</a></p>
    </div>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/images/logo.png" alt="Logo" width="50" height="50"
                    class="d-inline-block align-middle">
                <span class="navbar__logo">Chefs de pueblo</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFooter" aria-controls="navbarFooter" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarFooter">
                <div class="navbar-nav justify-content-evenly flex-grow-1">
                    <a class="nav-link" id="nav-link-footer-1" href="index.html">Portada</a>
                    <a class="nav-link" id="nav-link-footer-2" href="#">Los chefs</a>
                    <a class="nav-link" id="nav-link-footer-3" href="#">El pueblo</a>
                    <a class="nav-link" id="nav-link-footer-4" href="#">Galería</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>