<header>
    <nav class="navbar navbar-expand-md navbar--poster-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <picture class="d-inline-block align-middle">
                    <source srcset="./assets/images/logo.png?as=webp&width=50" type="image/webp" />
                    <img src="./assets/images/logo.png?width=50" alt="Logo" width="50" height="50" />
                </picture>
                <span class="navbar__logo">Chefs de pueblo</span>
            </a>
            <button class="navbar-toggler navbar--poster" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar--poster navbar--poster-toggler"></span>
            </button>          
            <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
                <div class="navbar-nav">
                    <a class="nav-link navbar--poster" href="#">Los chefs</a>
                    <a class="nav-link navbar--poster" href="#">El pueblo</a>
                    <a class="nav-link navbar--poster" href="#">Galería</a>
                </div>
            </div>
        </div>
    </nav>
</header>