$site-breakpoints: (
    "xs": (max-width: em(575.98px)),
    "sm": (min-width: em(576px)),
    "md": (min-width: em(768px)),
    "lg": (min-width: em(992px)),
    "xl": (min-width: em(1200px)),
    "xxl": (min-width: em(1400px))
) !default;
$grid-breakpoints: (
  xs: 0,
  sm: em-pixels(576px),
  md: em-pixels(768px),
  lg: em-pixels(992px),
  xl: em-pixels(1200px),
  xxl: em-pixels(1400px)
);


@mixin screen($breakpoint) {
  @if map-has-key($site-breakpoints, $breakpoint) {
    @media #{inspect(map-get($site-breakpoints, $breakpoint))} {
      @content;
    }
  }
}