@use "sass:color";

/**
 * Site variables
 */
$font-initial-size: 16px;
$font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-logo: "Dancing Script", cursive;
$textlogo-color: red;
$text-color: black;
$font-family-serif: "Georgia", "Times New Roman", serif;


/**
 * Bootstrap variables
 */
 $theme-colors: (
  "primary": brown
 );
 
 $navbar-light-color: rgba($textlogo-color, .55);
 $navbar-light-hover-color: rgba($textlogo-color, .7);
 $navbar-light-active-color: rgba($textlogo-color, .9);
 $navbar-light-disabled-color: rgba($textlogo-color, .3);
 $card-border-width: 0;
 $card-border-radius: 0;
