.article {
    container-type: inline-size;
    container-name: article;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 80px;
        place-content: center center;
        height: 500px;
        margin-bottom: 50px;
        text-align: center;
        background-color: #fff;
        background-image: url("../images/article_header.jpg?as=avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @container article (width < 768px) {
            height: 400px;
        }
        @container article (width < 992px) {
            height: 450px;
        }
    }

    &__title {
        color: $text-header-article-color;
        text-shadow: 0 2px 2px rgba(0 0 0 / 70%);
    }

    &__subtitle {
        font-weight: bold;
        color: $text-subtitle-article-color;
        text-shadow: 0 2px 2px rgba(0 0 0 / 70%);
    }

    &__section, &__list, &__divider, &__footer {
        width: 90%;
        margin: auto;
        container-type: inline-size;

        @container article (width > 768px) {
            width: 80%;
        }
        @container article (width > 1200px) {
            width: 45%;
        }

    }

    :is(&__section, &__list, &__footer) p {
        color: $text-p-article-color;
    }

    &__footer {
        font-style: italic;
    }

    &__section {
        display:flex;
        flex-direction: column;
        gap: 5px 20px;
        justify-content: center;
        padding-top:25px;
        padding-right:0.5%;
        padding-left:0.5%;
        margin-bottom: 50px;
    }

    &__paragraph {
        font-size: 1.2rem;
    }

    &__section:has(+ &__quote--side) {
        @container article (width > 768px) {
            flex-direction: row;
            align-items: start;
        }
    }

    &__quote {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    &__quote--side {
        @container article (width > 768px) {
            width: 50%;
        }
    }

    &__paragraph--side {
        @container article (width > 768px) {
            width: 100%;
        }
    }

    &__list {
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        list-style: none;
        counter-reset: item;
    }

    &__item {
        counter-increment: item;
    }

    &__item::before {
        display: inline-block;
        width: 1.5em;
        margin-right: 10px;
        color: $text-item-article-color;
        text-align: center;
        content: counter(item);
        background: $background-item-article-color;
        border-radius: 50%;
    }

    &__item-title {
        font-size: 1.05rem;
        font-weight: bold;
    }

    &__item-text {
        padding-right: 35px;
        padding-left: 39px;
        margin-top: 10px;

        @container article (width > 768px) {
            padding-right: 70px;
            padding-left: 39px;
        }
    }

    &__carousel {
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 8px;

        @container article (width < 768px) {
            width: 100%;
        }
        @container article (width < 992px) {
            width: 80%;
        }
    }

    &__carousel-img {
        max-height: 600px;
        object-fit: cover;
        border-radius: 8px;

        @container article (width < 768px) {
            max-height: 500px;
        }
        @container article (width < 992px) {
            max-height: 550px;
        }
    }

    &__carousel-indicator {
        height:24px;
    }


}